.container {
    display: flex;
    flex-direction: row;

}

.elemento{
    flex-direction: column;
    background-color: aqua;
    padding: 0.315rem;
    border: 1px solid #333;
    gap: 0.25rem;
}

.element {
    flex-direction: row;
    justify-content: flex-end;
}